[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cassandra-driver = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
boto3 = "*"
pypyr = "*"
fastapi = "*"
pexpect = "*"

[dev-packages]
python-dotenv = "*"
uvicorn = "*"
gunicorn = "*"
jupyter = "*"

[requires]
python_version = "3.10"
